@mixin button-mixin {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-size: 0.5rem;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: $primary;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    
    &:disabled {
        opacity: 0.75;
        cursor: auto;
    }
    
    @media screen and (min-width: $breakpoint-lg) {
        &:hover:enabled {
            background: $primary;
            color: $white;
        }
    }
    
    &:active:enabled {
        background: $primary;
        color: $white;
    }
}